# Database
DATABASE_URL=postgresql://user:password@localhost:5432/blog_do_pv

# BetterAuth
BETTER_AUTH_SECRET=              # string aleatória >= 32 chars
BETTER_AUTH_URL=https://seudominio.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Umami
NEXT_PUBLIC_UMAMI_SCRIPT_URL=    # URL do seu Umami self-hosted
NEXT_PUBLIC_UMAMI_WEBSITE_ID=    # ID do site no Umami

# Giscus
NEXT_PUBLIC_GISCUS_REPO=seu-usuario/blog-comments
NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=Announcements
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
